%h3 Sobre nós:
.about
  %p
    A SICON é uma empresa startup criada em 2012 por um jovem grupo de jovens, que buscam novas
    formas e maneiras para melhor atender seus clientes.

    Somos uma consultoria que atua principalmente no ramo de hotelaria, especializada em melhorar
    a área digital e de novas tecnologias dos Hóteis, tentando automatizar e integrar todo o sistema,
    melhorando assim o conjunto de atividades.


  %p
    Utilizamos as melhores práticas em conjunto com as melhores ferramentas.



