#content.content
  .hero-unit{:style => "padding: 30px;"}
    = image_tag "sicon_logo.png", :class => 'pull-right', :style => "margin-left:0px; width:260px;"
    .grid.col-460
      %h1.featured-title SICON
      %h2.featured-subtitle Consultoria em tecnologia
      %p A SICON é um startup focada em consultoria de empresas no ramo de Hotelaria
      com o objetivo de ajudar o desenvolvimento do setor, utilizando-se da
      tecnologia da informação.

      .call-to-action
        %a.btn.btn-large.btn-danger{:href => "/contact"} Contrate-nos!
