#content.content
  .hero-unit{:style => "padding: 60px;"}
    = image_tag "sicon_logo.png", :class => 'pull-right', :style => "margin-left:0px; width:300px;"
    .grid.col-460
      %h1.featured-title SICON
      %h2.featured-subtitle Consultoria em tecnologia
      %p
        A SICON é um startup focada em consultoria de empresas no ramo de Hotelaria
        prestando serviços de T.I

      .call-to-action
        %a.btn.btn-large.btn-danger{:href => "/contact"} Contrate-nos!

  .row
    .span1
      = image_tag "icon-custom.png"
    .span3
      %h3 Alta Tecnologia
      %p
        Não importa o tamanho do seu empreendimento,
        a Sicon resolva de forma, barata e utilizando
        as mais modernas tecnologias da área de TI.
    .span1
      = image_tag "icon-response.png"
    .span3
      %h3 Velocidade
      %p
        Procuramos identificar e reconhecer o problema de forma rápida
        , seja ele de comunicação, administração ou tecnologia de negócios.
    .span1
      = image_tag "icon-support.png"
    .span3
      %h3 Suporte
      %p
        Entre em contato com um de nossos representantes
        agora mesmo, atuamos em todo litoral norte!

